body {
	margin: 0;
	padding: 0 0.4em;
	width: 470px;
	color: Maroon;
}

a {
	text-decoration: none;
	color: Maroon;
}

input {
	width: 100%;
	box-sizing: border-box;
}

button {
	border: 0 none transparent;
	background-image: none;
	background-color: transparent;
	cursor: pointer;
	color: Maroon;
}
.jira {
	margin-top: 1em;
}

tab-content {
	display: block;
	background-color: Beige;
}

body > footer nav {
	display: inline-block;
	padding: .5em;
}
footer ticket-filter {
	display: block;
	margin-top: .8em;
}
footer .btns, footer form  {
	margin: 0.4em 0;
}
footer form  {
	padding: 0.2em;
}

footer .btns > * {
	margin: 0.2em;
}

.hide {
	display: none;
}

tab-nav {
	padding-left: .5em;
}

.import span {
	cursor: pointer;
}

.import input {
	visibility: hidden;
	position: absolute;
	pointer-events: none;
}
